---
---
<footer class="w-full py-4 text-center bg-white/20 dark:bg-black/20 backdrop-blur-lg mt-8">
  <p class="text-lg text-sky-theme-dark dark:text-white font-jura">
    © CiberCuba Juegos
  </p>
</footer>